h1, h2 {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.button {
    padding: 20px;
    margin: 10px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    background: black;
    text-decoration: none;
    border: 1px solid black;
}

.button:hover {
    background: white;
    color:  black;
}
.creator {
    background-color: transparent;
    border-color: transparent;
    font-weight: 400;
    color: #337ab7;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: large;
}
.creator:hover {
    background-color: transparent;
    color: #23527c;
    text-decoration: underline;
    border-color: transparent;
}

.orderActions{
    text-align: left;
    padding-left: 24px;
    padding-bottom: 2px;
    margin: 0 !important;
}

.orderActions .buttons {
    padding: 6px;
    margin: 6px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    background: black;
    text-decoration: none;
    border: 1px solid black;
}
.orderActions .buttons:hover {
    background: white;
    color:  black;
}
.orderActions .btnLikeSort, .btnLike { 
    background: blue;
    color: white;
}
.orderActions .btnDateSort, .btnRetract { 
    background: green;
    color: white;
}
.orderActions .btnHateSort, .btnHate { 
    background: red;
    color: white;
}