<h1>Movierama</h1>
<h2>World's best app for digital entertainment</h2>
<div id="buttons">
    <a routerLink="/login"  [hidden]="success"   class="button">Login</a>
    <a routerLink="/register" [hidden]="success" class="button">Register</a>
    <a routerLink="/table"  [hidden]="!success" class="button">Movie Voting</a>
    <!--
    <a routerLink="/search" [hidden]="!success" class="button">Search & Rate</a>
    -->
</div>
<div class="orderActions">Sort By:
    <button mat-button class="buttons btnLikeSort" (click)="sortMoviesByLikes()">Likes</button> |
    <button mat-button class="buttons btnHateSort" (click)="sortMoviesByHates()">Hates</button> |
    <button mat-button class="buttons btnDateSort" (click)="sortMoviesByDate()">Date</button> |
    <select #selectElem (change)="setSelectedSortOrder(selectElem.value)">
        <option [ngValue]="selectedSortOrder" *ngFor="let sortOrder of sortOrders">{{sortOrder}}</option>
    </select>    
</div>
<div *ngFor="let movie of movies">
    <mat-card class="movie-card">
        <mat-card-header>
            <mat-card-title>{{movie.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>                                                                                                    
            <p>Posted by <button class="creator" (click)="filterMoviesByCreator(movie.creator)">{{movie.creator}}</button>, {{movie.createdAt | amDifference : null : 'days' }} days from now </p>
            <p>{{movie.description}}</p>
            <p>{{movie.likes}} Likes | {{movie.hates}} Hates</p>
        </mat-card-content>
        <!--
        <mat-card-actions>
            <button mat-button class="buttons btnLike">LIKE</button>
            <button mat-button class="buttons btnHate">HATE</button>
            <button mat-button class="buttons btnRetract">RETRACT</button>
        </mat-card-actions>
        !-->
        </mat-card>
</div>
  

