<h1>Movierama Register</h1>
<h2>Use this screen to register to movierama! <a routerLink="/" role="button" style="text-decoration: underline">[Go Home]</a></h2>

<ul>
  <li *ngFor="let user of users">
      <span>{{user.username}}</span>
      <button title="delete user" (click)="deleteUser(user)">x</button>
  </li>
</ul>

<form (submit)="registerUser($event);">
  <div class="container">
    <div>
      <input type="text" autocomplete="off" placeholder="Username" id="username" required />
    </div>
    <div> 
      <input type="password" autocomplete="off" placeholder="Password" id="password" required />
    </div>
    <div>
      <button type="submit" id="submit">Register</button>
      <a routerLink="/login" [hidden]="!success" role="button">Successful! Press Login to enter!</a>
    </div> 
  </div>
</form>

