<div id="message">
  <h2>{{message}}</h2>
  <div class="enter">
    <a routerLink="/logout" role="button"><div class="btn btn-default btn-lg active">Logout</div></a>
    <!--
      <a routerLink="/login" [hidden]="!success" role="button"><div class="btn btn-default btn-lg active">Login</div></a>
    -->
  </div>
</div>
<div id="addmovie">
    <h2>Add Movie</h2>
    <div class="enter">
      <label>Title:
        <input #movieTitle required />
      </label>
      <label>Description:
        <input #movieDescription />
      </label>
      <button (click)="addMovie(movieTitle.value, movieDescription.value); movieTitle.value=''; movieDescription.value='';">
        Add
      </button>
    </div>
</div>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
 
<div class="mat-elevation-z8">
  
  <mat-table [dataSource]="dataSource"  matSortActive="createdAt" matSortDirection="desc" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- Creator Column -->
    <ng-container matColumnDef="creator">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Creator </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.creator}} </mat-cell>
    </ng-container>

    <!-- Created At Column -->
    <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.createdAt | date:'yyyy-MM-dd' }} </mat-cell>

    </ng-container>

      <!-- Hates Column -->
    <ng-container matColumnDef="hates">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Hates </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.hates}} </mat-cell>
    </ng-container>

      <!-- Likes Column -->
    <ng-container matColumnDef="likes">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Likes </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.likes}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <div class="mat-card-actions gridActions">
              <button class="btnLike" [hidden]="element.creator === username" title="Like" (click)="likeMovie(element)">Like</button>
              <button class="btnHate" [hidden]="element.creator === username" title="Hate" (click)="hateMovie(element)">Hate</button>
              <button class="btnRetract" [hidden]="element.creator === username" title="Retract" (click)="retractMovie(element)">Retract</button>
          </div>
          <div [hidden]="element.creator !== username">
            Voting is not allowed for a movie you are the submitter! 
          </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="highlightedRows.push(row)" [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightblue' : ''"></mat-row>
  
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
