table {
  width: 98%;
  margin:20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

#message {
	margin: 20px 20px 20px 20px;
	float:none;
	overflow: hidden;
}
#message h2 {
    float:left;
    margin: 0.83em 0;
}
#message .enter {
	float:right;
	margin: 0.83em 0;
}

.enter input{
  height: 1.5em;
}

#addmovie {
	margin: 20px 20px 20px 20px;
	float:none;
	overflow: hidden;
}
#addmovie h2 {
    float:left;
    margin: 0.83em 0;
}
#addmovie .enter {
	float:right;
	margin: 0.83em 0;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-default {
  color: #ffffff;
  background-color: #fff;
  border-color: #ccc;

}
.btn-group-lg>.btn, .btn-lg {
padding: 8px 16px;
  font-size: 16px;
  line-height: 1.3333333;

}

.btn.active
{
background-color: #333;
  border-color: #dbdbdb;
}

.btn-default:hover{
 color: #000000;
  background-color: #ffffff;
}
.btn-default.active:hover {
color: #000000;
  background-color: #ffffff;
}

.gridActions button {
  padding: 6px;
  margin: 6px;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  background: black;
  text-decoration: none;
  border: 1px solid black;
}
.gridActions button:hover {
  background: white;
  color:  black;
}
.gridActions .btnLike { 
  background: blue;
  color: white;
}
.gridActions .btnRetract { 
  background: green;
  color: white;
}
.gridActions .btnHate { 
  background: red;
  color: white;
}
