<h1>Movierama Login</h1>
<h2>Use this screen to login into movierama! <a routerLink="/" role="button" style="text-decoration: underline">[Go Home]</a></h2>
  <form (submit)="loginUser($event)">
  <div class="container">
    <div>
      <input type="text" autocomplete="off" placeholder="Username" id="username">
    </div>
    <div> 
      <input type="password" autocomplete="off" placeholder="Password" id="password">
    </div>
    <div>
      <button type="submit" id="submit">Login</button>
    </div> 
  </div>
</form>