h1, h2 {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
    color: darkgreen
}

form {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #d1d1d1;
    border-radius: 20px;
}

input#username, input#password {
    outline: 0;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
    min-width: 300px;
}

button#submit {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: darkgreen;
}