/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.mat-card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.mat-card-header {
    flex-direction: column !important;
    text-align: center;
    color: darkgreen;
    background: #eeeeee;
    padding: 20px 0 10px 0;
}

.mat-card-title {
    font-size: 2.5em !important;
}

.mat-card-content p {
    font-size: 120%;
    text-align: center;
    padding: 20px 0 10px 0;
}

.mat-card-actions {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
